#language-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.language-image {
  width: 64px;
  padding: 32px;
  padding-top: 16px;
}

.experience {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-align: left;
  padding-bottom: 0px;
}

.experience-images {
  text-align: left;
  margin-right: 50px;
  padding: 10px;
  width: 100px;
}