#language-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.language-image {
  width: 64px;
  padding: 32px;
  padding-top: 16px;
}

.experience {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-align: left;
}

.experience-images {
  height: 64px;
  margin: 32px;
}