html {
  overflow-y: scroll;
}

#title {

}

#dancing-duck-buddy {
  margin: auto;
  margin-left: 16px;
  margin-right: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: sub;
  width: 48px;
}

#page-heading {
  font-family: 'Open Sans', sans-serif;
  display: block;
  color: white;
  background: #89cff0;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 8px;
  text-align: center;
  width: 100%;
}