#social-bar {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16px;
}

#dark-mode-button {
  padding: 10px 15px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  background-color: #89cff0;
  border: none;
  margin-top: 4px;
}

#dancing-duck-buddy {
  margin: auto;
  margin-left: 16px;
  margin-right: 16px;
  display: inline-block;
  text-align: center;
  vertical-align: sub;
  width: 48px;
}

.social-links {
  display: inline-block;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  height: 32px;
  width: 32px;
}

.social-logos {
  width: 32px;
  border-radius: 50%;
}

#nav-bar {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  list-style-type: none;
  margin: auto;
  margin-top: 16px;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.nav-bar-items {
  display: inline-flex;
  margin-top: 8px;
}

.nav-bar-anchors {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 32px;
  background-color: #89cff0;
  text-decoration: none;
}

.nav-bar-anchors:hover {
  background-color: #6da5c0;
}