.header {
  margin: auto;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  width: 950px;
  text-align: left;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 0px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 5px;
  width: 900px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  width: 800px;
}