.header {
  margin: auto;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  max-width: 920px;
  text-align: left;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 0px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 5px;
  max-width: 870px;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: left;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  margin: auto;
  color: white;
  background: #89cff0;
  padding: 8px 16px;
  border: 0px;
  margin-top: 10px;
}

.button:hover {
  background: #6da5c0;
}