#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
}

#socials {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#link-github {
  display: inline-block;
  border-radius: 16px;
  height: 32px;
  width: 32px;
}

#link-linkedin {
  display: inline-block;
  border-radius: 16px;
  height: 32px;
  width: 32px;
}

#spacer {
  width: 32px;
}

#logo-github {
  width: 32px;
  border-radius: 50%;
}

#logo-linkedin {
  width: 32px;
  border-radius: 50%;
}

.center {
  text-align:center;
}


