#title {
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

#socials {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: auto;
}

#link-github {
  display: inline-block;
  border-radius: 16px;
  height: 32px;
  width: 32px;
}

#link-linkedin {
  display: inline-block;
  border-radius: 16px;
  height: 32px;
  width: 32px;
}

#logo-github {
  width: 32px;
  border-radius: 50%;
}

#logo-linkedin {
  width: 32px;
  border-radius: 50%;
}

#spacer {
  width: 32px;
}

#nav-bar {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  list-style-type: none;
  margin: auto;
  margin-top: 16px;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.nav-bar-items {
  display: inline-flex;
}

.nav-bar-anchors {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 32px;
  background-color: #89cff0;
  text-decoration: none;
}

.nav-bar-anchors:hover {
  background-color: #6da5c0;
}

#about-me {
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 1px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 5px;
  width: 800px;
}

#about-me-images {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 64px;
}

.about-me-images {
  display: inline-block;
  width:220px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: linear-gradient(#89cff0, transparent, transparent, #89cff0);
}

.header {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  width: 800px;
  text-align: left;
}

.container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  width: 800px;
}

.education {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-align: left;
}

.education-images {
  text-align: left;
  margin-right: 50px;
  padding: 10px;
  width: 100px;
}

.experience {
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  text-align: left;
}

.experience-images {
  text-align: left;
  margin-right: 50px;
  padding: 10px;
  width: 100px;
}